.git
.gitattributes
.gitignore
.idea
.env
vendor/
node_modules/

storage/framework/*
storage/efs/
storage/debugbar/*
storage/logs/*

deployment/App.Dockerfile

.ebextensions/
.platform/
binaries/remarks/
binaries/remarks.Dockerfile/
binaries/docsfordevelopers.zip/
docker/
remarks-files/
xochitl-binaries/
