#filetree {
    li {
        list-style: none;
    }

    .svg-inline--fa {
        margin-right: 4px;
    }

    li:hover {
        cursor: pointer;
    }

    li > span:hover {
        text-decoration: underline;
    }
}
