#filetree {
    table {
        table-layout: auto !important;
    }

    td, th {
        white-space: nowrap;
    }

    tr.directory:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    //tr {
    //    background-color: green;
    //    height: 170px;
    //}

    td a {
        color: white;
        font-weight: 800;
        text-decoration: none;
    }

    .svg-inline--fa {
        margin-right: 4px;
    }

    li:hover {
        cursor: pointer;
    }

    li > span:hover {
        text-decoration: underline;
    }
}
