container_commands:
    00-clear-logs:
        command: "rm my.log && echo starting at `date` >> /var/log/my.log"
    01-migration:
        command: "php artisan migrate --force >> /var/log/my.log 2>&1"
        leader_only: true
    02-optimization:
        command: "php artisan optimize >> /var/log/my.log 2>&1"
