container_commands:
    01-composer:
        command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install -n --no-dev --prefer-dist --optimize-autoloader >> /var/log/eb-activity.log 2>&1"
        cwd: "/var/app/staging"
    02-install-nvm:
        command: "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash >> /var/log/eb-activity.log 2>&1"
    03-activate-nvm:
        command: ". ~/.nvm/nvm.sh >> /var/log/eb-activity.log 2>&1"
    04-install-node:
        command: "nvm install node >> /var/log/eb-activity.log 2>&"
    05-npm:
        command: "sudo npm install >> /var/log/eb-activity.log 2>&1"
        cwd: "/var/app/staging"
    06-js:
        command: "sudo npm run prod >> /var/log/eb-activity.log 2>&1"
        cwd: "/var/app/staging"
    07-migration:
        command: "php artisan migrate >> /var/log/eb-activity.log 2>&1"
        cwd: "/var/app/staging"
        leader_only: true
    08-optimization:
        command: "php artisan optimize >> /var/log/eb-activity.log 2>&1"
        cwd: "/var/app/staging"
